<style type="text/css">
	
	.btn-microscope-control{
		width: 4em;
		height: 4em;
	}

</style>


<div class="col-12 row">
	<h2>Microscope control</h2>

	<div>
	<table>
		<tr>
			<td><button class="btn btn-sm btn-microscope-control">R-</button></td>
			<td><button class="btn btn-sm btn-microscope-control">Y+</button></td>
			<td><button class="btn btn-sm btn-microscope-control">R+</button></td>
			<td></td>
		</tr>
		<tr>
			<td><button class="btn btn-sm btn-microscope-control">X+</button></td>
			<td><button class="btn btn-sm btn-microscope-control">H</button></td>
			<td><button class="btn btn-sm btn-microscope-control">X-</button></td>
		</tr>
		<tr>
			<td></td>
			<td><button class="btn btn-sm btn-microscope-control">Y-</button></td>
			<td></td>
		</tr>
	</table>


	<div class="btn-group" role="group" aria-label="Basic example">
	  <button type="button" class="btn btn-outline-success btn-microscope-distance">0.1 mm</button>
	  <button type="button" class="btn btn-outline-success btn-microscope-distance">1 mm</button>
	  <button type="button" class="btn btn-outline-success btn-microscope-distance">10 mm</button>
	</div>

	</div>

	<div>
		<table>
			<tr><td><button class="btn btn-sm btn-microscope-control">Z+</button></td></tr>
			<tr><td><button class="btn btn-sm btn-microscope-control">H</button></td></tr>
			<tr><td><button class="btn btn-sm btn-microscope-control">Z-</button></td></tr>
		</table>

		<div class="btn-group" role="group" aria-label="Basic example">
		  <button type="button" class="btn btn-outline-success btn-microscope-distances-z">0.1 mm</button>
		  <button type="button" class="btn btn-outline-success btn-microscope-distances-z">1 mm</button>
		  <button type="button" class="btn btn-outline-success btn-microscope-distances-z">10 mm</button>
		</div>
	</div>


	<div>
		<table>
			<tr><td>XY</td><td>
				<div class="btn-group btn-group-justified" role="group" aria-label="Basic example">
				  <button type="button" class="btn btn-outline-success btn-microscope-magnet mag1 state-1" onclick="setMag(1, 1)">Sepnout</button>
				  <button type="button" class="btn btn-outline-danger btn-microscope-magnet mag1 state-0" onclick="setMag(1, 0)">Rozepnout</button>
				</div>
			</td></tr>
			<tr><td>Rot</td><td>
				<div class="btn-group btn-group-justified" role="group" aria-label="Basic example">
				  <button type="button" class="btn btn-outline-success btn-microscope-magnet mag2 state-1" onclick="setMag(2, 1)">Sepnout</button>
				  <button type="button" class="btn btn-outline-danger btn-microscope-magne mag2 state-0" onclick="setMag(2, 0)">Rozepnout</button>
				</div>
			</td></tr>
			<tr><td>Break</td><td>
				<div class="btn-group btn-group-justified" role="group" aria-label="Basic example">
				  <button type="button" class="btn btn-outline-success btn-microscope-magnet mag3 state-1" onclick="setMag(3, 1)">Sepnout</button>
				  <button type="button" class="btn btn-outline-danger btn-microscope-magnet mag3 state-0" onclick="setMag(3, 0)">Rozepnout</button>
				</div>
			</td></tr>
			<tr><td>Světlo</td><td>
				<!-- <div class="btn-group" role="group" aria-label="Basic example">
				  <button type="button" class="btn btn-outline-success btn-microscope-magnet">Rozsvítit</button>
				  <button type="button" class="btn btn-outline-danger btn-microscope-magnet">Zasnout</button>
				</div> -->
				<input type="range" name="">
				<input type="number" name="">
			</td></tr>
		</table>
	</div>

</div>




<script type="text/javascript">
	

  var rcvMag = new ROSLIB.Topic({
          ros : ros,
          name : '/magnet/state',
          messageType : 'microscope/state_microscope_magnet'
	});

	rcvMag.subscribe(function(msg) {
    	//console.log(msg);
    	$('.btn-microscope-magnet').removeClass('btn-outline-success');
    	$('.btn-microscope-magnet').removeClass('btn-outline-danger');
    	$('.btn-microscope-magnet').removeClass('btn-success');
    	$('.btn-microscope-magnet').removeClass('btn-danger');
	    for(var mag in msg.magnet){
	    	var m = msg.magnet[mag];
	    	if(m.state == false){
	    	    $('.mag'+m.axis+'.state-0').addClass('btn-danger');
	    	    $('.mag'+m.axis+'.state-1').addClass('btn-outline-success');
	    	}else{
	    	    $('.mag'+m.axis+'.state-0').addClass('btn-outline-danger');
	    	    $('.mag'+m.axis+'.state-1').addClass('btn-success');
	    	}
	    }
	});

	function setMag(mag, value){
		var sendCtrl = new ROSLIB.Topic({
			ros : ros,
			name : '/magnet/set',
			messageType : 'microscope/microscope_magnet'
		});
		var msg = new ROSLIB.Message({
		    axis: mag,
			state: Boolean(value)
		});
	    sendCtrl.publish(msg);
	}






</script>