<launch>

    <include
        file="/home/odroid/ros_ws/src/rosbridge_suite/rosbridge_server/launch/rosbridge_websocket.launch"
    />

    <node
        name="pymlab_bridge"
        pkg="arom"
        type="pymlab_bridge"
        args="/home/odroid/robozor/station/pymlab_presets/telescope.json"
    />

    <node
        name="web"
        pkg="arom"
        type="runWeb.sh"
    /> 

</launch>
